.place {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.tubelight {
    position: relative;
    top: 0;
    left: 0;
    width: clamp(80vw, 680px, 80vw);
    height: 9px;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 10px;
    background-color: #404040;
    filter: none;
    -moz-box-shadow: inset 0 0 5px white;
    -webkit-box-shadow: inset 0 0 5px white;
    box-shadow: inset 0 0 5px white;
    transition: all .5s;
}

.container input:checked~.tubelight {
    background-color: white;
    filter: drop-shadow(0px 0px 10px white) drop-shadow(0px 0px 10px white) drop-shadow(0px 0px 50px white);
    mix-blend-mode: screen;
    animation: tubelightStart .5s cubic-bezier(0, .5, .5, 0);
}


.lightfill>span {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, rgba(64, 64, 64, 1), rgba(255, 255, 255, 0) 50%, rgba(64, 64, 64, 1));
    z-index: 0;
    display: block;
    opacity: .7;
}

.lightfill {
    mix-blend-mode: multiply;
    transition: all 0.5s;
}

.tubelightglare {
    mix-blend-mode: overlay;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}
.hide{
    opacity: 0;
}
.tubelightglare>span:nth-child(1) {
    background-color: white;
    opacity: 1;
    width: clamp(80vw, 680px, 80vw);
    position: fixed;
    top: 0;
    height: 40vh;
    border-radius: 0px 0px 50% 50%;
    transform: scaleY(2.5);
    filter: blur(50px);
    animation: tubelightStart .5s cubic-bezier(0, .5, .5, 0);
}

.tubelightglare>span:nth-child(2) {
    background-color: white;
    opacity: 1;
    width: clamp(70vw, 680px, 70vw);
    position: fixed;
    top: 0;
    height: 20vh;
    border-radius: 0px 0px 50% 50%;
    transform: scaleY(3.5);
    filter: blur(25px);
    animation: tubelightStart .5s cubic-bezier(0, .5, .5, 0);
}







@keyframes tubelightStart {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}