.background {
	position: relative;
	background: rgb(199, 255, 223);
	background: linear-gradient(0deg, rgba(199, 255, 223, 1) 28%, rgba(73, 115, 237, 1) 100%);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.parallax {
	transform: translateX(-50%) translateY(-50%);
}

.Cloud1 {
	position: absolute;
	left: calc(50% + 567px);
	top: calc(50% - 300px);
	width: 348.16px;
}

.Cloud2 {
	position: absolute;
	left: calc(50% - 300px);
	top: calc(50% - 215px);

	width: 761.25px;
}

.Cloud3 {
	position: absolute;
	left: calc(50% - 142px);
	top: calc(50% + 127px);
	width: 1036.22px;
}

.Mounte3 {
	position: absolute;
	left: calc(50% - 71px);
	top: calc(50% + 117px);
	width: 1440px;
}

.land {
	position: absolute;
	left: calc(50% - 124px);
	top: calc(50% + 273px);
	/* left: -68px; 
	760
	bottom: -10px;*/
	width: 1612.44px;
}

.Sun {
	position: absolute;
	top: calc(50% - 144px);
	left: calc(50% + 336.5px);
	/* left: 948px;
	top: 90px; */
	width: 277.50px;
}

.RightFrontRock {
	position: absolute;

	left: calc(50% + 419px);
	top: calc(50% + 292px);
	/* left: 800px;
	top: 568px; */
	width: 738.06px;
}

.LeftBigRockBackGrass {
	position: absolute;
	top: calc(50% + 266px);
	left: calc(50% - 280px);
	/* left: 394px;
	top: 575px; */
	height: 133.16px;
	width: 153.84px;
	overflow: hidden;
}

.LeftSmallRock {
	position: absolute;
	left: calc(50% - 110px);
	top: calc(50% + 200px);
	/* left: 476px;
	top: 415px; */
	width: 327.31px;
}

.RightRockCenterCactus {
	position: absolute;
	left: calc(50% + 431px);
	top: calc(50% + 255px);
	/* left: 1134px;
	top: 580px; */
	width: 94.59px;
}

.LeftRockFront {
	position: absolute;
	left: calc(50% - 116px);
	top: calc(50% + 330.5px);
	/* left: 0px;
	top: 658px; */
	width: 1268.69px;
}

.RightBackGrass {
	position: absolute;
	left: calc(50% + 506px);
	top: calc(50% + 167.5px);
	/* left: 1148px;
	top: 462px; */
	width: 217.34px;
}

.RightBigCactus {
	position: absolute;
	left: calc(50% + 598.5px);
	top: calc(50% - 17.5px);
	/* left: 1269px;
	top: 126px; */
	width: 159.03px;
}

.RightCactus {
	position: absolute;

	left: calc(50% + 369.5px);
	top: calc(50% + 111.5px);
	/* 		left: 1063px;
	top: 362px; */
	width: 113.06px;
}

.LeftBigRock {
	position: absolute;
	left: calc(50% - 467.5px);
	top: calc(50% + 53px);
	/* left: 25px;
	top: 141px; */
	width: 514.66px;
}

.LeftSmallRockGrass {
	position: absolute;
	left: calc(50% - 16px);
	top: calc(50% + 232PX);
	/* left: 664px;
	top: 536px; */
	width: 140.56px;
}

.RightRockCornerCactus {
	position: absolute;

	left: calc(50% + 667.5px);
	top: calc(50% + 153px);
	/* left: 1353px;
	top: 479px; */
	width: 129.41px;
}