.career {
    height: 100vh;
    /* background-color: red; */ 
     padding-right: 5.271vw;
    padding-left: 5.271vw; 
    /* margin-right: 5.271vw;
    margin-left: 5.271vw; */
    text-align: center;
    mix-blend-mode: soft-light;
}

.career .heading {
    margin-top: 10vh;
    color: white;
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
}

.career p {
    margin-top: 10vh;
    color: white;
    font-size: 2.5vw;
    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (max-width: 576px) {
    .career .heading {      
        font-size: 10vw;
        font-weight: 900;        
    }
    
    .career p {
        font-size: 5.5vw;
        font-weight: 700;  
    }
}

@media only screen and (min-width : 576px) {}

@media only screen and (min-width : 768px) {}

@media only screen and (min-width : 992px) {}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1400px) {}